.production-process {
  padding-left: 30px;
  padding-right: 30px;
}

.production-process__wrapper {
  border: 1px solid @lighter-grey;
  padding-bottom: 30px;
}

.production-process__heading {
  font-size: 17px;
  font-weight: bold;
  line-height: 24px;
  color: @black;
  padding-bottom: 30px;
  padding-left: 90px;
}

.production-process__intro {
  display: block;
  margin-right: 30px;
  margin-left: 35px;
}
